// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

@mainbg: #14240E;
@bg2: #273a1f;
@bg3: #3a4b33;
@bg4: #31b500;
@fg3: #36c800;
@fg2: #3bdb00;
@mainfg: #5CCC33;

@comment: #386B2B;
// @builtin: #40ee00;
@keyword: #259905;
// @type: #40ee00;
@const: #7EE05A;
// @func: #40ee00;
@string: #ffe033;
@var: #7EE05A;
@warning: #ff0000;
@warning2: #ff8800;
